*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.container{
    background-image: url("Background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.player{
    background: url('Runner.png');
    height: 72px;
    width: 54px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 80px;
    left: 300px;
}

.enemy{
    background: url('Obstacle.png');
    height: 72px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 80px;
    left: 220vh;
}

.animatedplayer{
    animation: jump 0.6s linear;
}

@keyframes jump{
    0%{
        bottom:80px
    }
    50%{
        bottom:320px;
    }
    100%{
        bottom:80px
    }
}

.movingenemy{
    animation: moveenemy 2.5s linear infinite;
}

@keyframes moveenemy {
    0%{
        left: 240vh;
    }
    100%{
        left: -40vh;
    }
}

.gameover{
    font-size: 4rem;
    font-weight: bold;
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 0px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: royalblue;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
}

.points{
    border: 2px solid rgb(80, 64, 64);
    width: 70px;
    margin-left: 40px;
    padding: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    color: rgb(201, 46, 72);
    text-shadow: 2px 4px 4px rgba(216, 52, 161, 0.6);
    box-shadow: 0px 0px 4px 4px burlywood;
}