*{
    margin: 0;
    padding: 0;
}

.container{
    background-image: url("Background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#player-img{
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 80px;
    left: 20px;
}


#enemy-img{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 20px;
    bottom: 80px;
}

